$color-primary: #cbd8c8;
$color-primary-dark: rgb(105, 137, 93);
$color-background-dark: hwb(143 11% 80%);
$color-secondary: #ffe872;
$color-dark: #212121;
$color-white: #ffffff;
$color-text-dark: #212121;
$color-text-light: #b7b4b9;
$color-grey: rgba(40, 40, 40, 0.6);

$font-primary-heading: "abril-fatface";

$width-button: 190px;

$max-width: 96%;
$margin-top-bottom: calc((100% - 96%) / 2);
