.what-we-do {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: 8rem auto;
}

.what-we-do-left {
  position: relative;
  width: clamp(20ch, 30%, 80ch);
  margin: 8rem auto;
}

.what-we-do-right {
  position: relative;
  width: clamp(20ch, 30%, 80ch);
  margin: 8rem auto;
}
