.header {
  position: relative;
  background-color: $color-primary;
  max-width: $max-width;
  margin-top: $margin-top-bottom;
  margin-inline: auto;
}

.main-page-hero {
  position: relative;
  background-color: $color-primary;
  max-width: $max-width;
  margin-inline: auto;
  padding-top: 4rem;
}

.hero-text-box {
  width: clamp(20ch, 80%, 75ch);
  display: flex;
  position: relative;
  flex-direction: column;
  margin: max(0, 2%) max(0, 10%);
  & > * {
    margin: 2rem 0;
  }
}

.stripe-scroll {
  position: relative;
  display: inline-block;
  left: 80%;
  width: 12rem;
  transform: rotate(90deg);

  .scroll {
    position: relative;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: left;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      border-bottom: solid;
      padding: 0rem 1rem 2rem 0;
      animation: borderScrollAnim 3.7s linear infinite;
    }
  }
}
