.nav {
  position: relative;
  align-items: center;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  &-logo-box,
  &-menu {
    flex: 1;
    font-weight: 900;
  }

  &-logo-img {
    width: 100px;
    position: relative;
    left: -1.5rem;
  }

  &-menu {
    display: flex;
    justify-content: end;
    gap: 3rem;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    text-transform: lowercase;
    color: $color-text-dark;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 5%;
  background: transparent;
  border: 0;
}

.bar {
  display: block;
  background-color: $color-dark;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@include respond(phone) {
  .hamburger {
    display: block;
  }

  body.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  .nav-menu {
    position: absolute;
    right: -40%;
    opacity: 0;
    z-index: 0;
    transform: scale(0);
    padding: 3rem;
    top: 7rem;
    box-shadow: inset -1px -1px 20px 3px rgba(1, 80, 42, 0.32),
      1px 1px 50px 3px rgba(1, 80, 42, 0.32);
    border-radius: 100%;
    flex-direction: column;
    background-color: $color-primary;
    transition: 0.5s;
  }

  .test {
    max-width: fit-content;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .nav-menu.active {
    right: -4%;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
  }
}
