.navbar {
  align-items: center;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;

  &-logo-box,
  &-buttons {
    flex: 1;
    flex-wrap: wrap;
    font-weight: 900;
  }

  &-logo-img {
    width: 113px;
    height: 56px;
  }

  &-buttons {
    display: flex;
    justify-content: end;
    gap: 3rem;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    text-transform: lowercase;
    color: $color-text-dark;
  }
}
