.hidden {
  opacity: 0;
  filter: blur(5px);
  scale: 0.9;
  transform: translateY(20%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  scale: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

.hidden-btn-1 {
  scale: 0;
  translate: 105px 40px;
  transition: all 1s;
  opacity: 0;
}

.show-btn-1 {
  scale: 1;
  translate: 0;
  opacity: 1;
}

.hidden-btn-2 {
  rotate: -180deg;
  transform-origin: center;
  translate: 5px 5px;
  transition: all 2s ease-out;
}

.show-btn-2 {
  rotate: 0deg;
  translate: 0;
}

.hidden-btn-2-border {
  rotate: 180deg;
  transform-origin: right;
  translate: 5px 5px;
  transition: all 2s ease-out;
}

.show-btn-2-border {
  rotate: 0deg;
  translate: 0;
}

.hidden-btn-3 {
  opacity: 0;
}

.show-btn-3 {
  opacity: 1;
  animation: animatedBtn-3 2s ease-in 1;
}

.hidden-btn-3-border {
  opacity: 0;
}

.show-btn-3-border {
  opacity: 1;
  animation: animatedBtn-3-border 2s ease-in 1;
}

.hidden-btn-4 {
  opacity: 0;
}

.show-btn-4 {
  opacity: 1;
  animation: animatedBtn-4 3s ease-in-out 1;
}

.hidden-btn-4-border {
  opacity: 0;
}

.show-btn-4-border {
  opacity: 1;
  animation: animatedBtn-4-border 3s ease-in-out 1;
}

@media (preferes-reduced-motion) {
  .hidden .hidden-btn-1 {
    transition: none;
  }
}
