@keyframes btnBorderFall {
  0% {
    transform: translate(0);
    border: none;
  }

  25% {
    transform: translate(0);
  }

  100% {
    transform: translate(6px, 6px);
  }
}

@keyframes borderScrollAnim {
  0% {
    transform: scale(0, 1);
    transform-origin: left;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: left;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: right;
  }

  100% {
    transform: scale(0, 1);
    transform-origin: right;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translate(0, -3rem);
  }

  80% {
    transform: translate(0, -0.2rem);
  }

  100% {
    opacity: 1;

    transform: translate(0, 0);
  }
}

@keyframes stripeInLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes animatedDots {
  0% {
    width: 0;
    height: 0;
  }

  25% {
    width: 4.4ch;
    height: 8ch;
  }

  50% {
    width: 4.4ch;
    height: 16ch;
  }

  75% {
    width: 4.4ch;
    height: 8ch;
  }

  100% {
    width: 0;
    height: 0;
  }
}

@keyframes animatedDots-2 {
  0% {
    width: 0;
    height: 0;
  }

  25% {
    width: 5.9ch;
    height: 9.7ch;
  }

  50% {
    width: 5.9ch;
    height: 17.4ch;
  }

  75% {
    width: 5.9ch;
    height: 9.7ch;
  }

  100% {
    width: 0;
    height: 0;
  }
}

@keyframes animatedDots-3 {
  0% {
    border-left: 1px dotted $color-text-light;
    border-bottom: 1px dotted $color-text-light;
    transform: translate(20px, -20px);
  }

  25% {
    border-left: 6px dotted $color-text-light;
    border-bottom: 6px dotted $color-text-light;
    transform: translate(0);
  }

  50% {
    border-left: 1px dotted $color-text-light;
    border-bottom: 1px dotted $color-text-light;
    transform: translate(20px, -20px);
  }

  75% {
    border-left: 6px dotted $color-text-light;
    border-bottom: 6px dotted $color-text-light;
    transform: translate(0);
  }

  100% {
    border-left: 1px dotted $color-text-light;
    border-bottom: 1px dotted $color-text-light;

    transform: translate(20px, -20px);
  }
}

@keyframes animatedDots-4 {
  0% {
    border-left: 9px dotted $color-text-light;
    border-bottom: 9px dotted $color-text-light;

    transform: translate(-20px, 20px);
    height: 19.4ch;
    width: 7.4ch;
  }

  25% {
    border-left: 6px dotted $color-text-light;
    border-bottom: 6px dotted $color-text-light;

    transform: translate(0);
    height: 17.4ch;
    width: 5.9ch;
  }

  50% {
    border-left: 9px dotted $color-text-light;
    border-bottom: 9px dotted $color-text-light;

    transform: translate(-20px, 20px);
    height: 19.4ch;
    width: 7.4ch;
  }

  75% {
    border-left: 6px dotted $color-text-light;
    border-bottom: 6px dotted $color-text-light;

    transform: translate(0);
    height: 17.4ch;
    width: 5.9ch;
  }

  100% {
    border-left: 9px dotted $color-text-light;
    border-bottom: 9px dotted $color-text-light;

    transform: translate(-20px, 20px);
    height: 19.4ch;
    width: 7.4ch;
  }
}

@keyframes animatedBtn-3 {
  0% {
    transform: scale(0) rotate(0);
  }

  100% {
    transform: scale(1) rotate(1440deg);
  }
}

@keyframes animatedBtn-3-border {
  0% {
    transform: scale(0) rotate(0);
  }

  100% {
    transform: scale(1) rotate(-720deg);
  }
}

@keyframes animatedBtn-4 {
  0% {
    transform: translate(-10px, 0) skew(45deg, 45deg);
  }

  25% {
    transform: translate(10px, 0) skew(-20deg, -20deg);
  }

  50% {
    transform: translate(0, 0) skew(20deg, 20deg);
  }

  75% {
    transform: translate(0, 0) skew(-10deg, -10deg);
  }

  100% {
    transform: translate(0, 0) skew(0deg, 0deg);
  }
}

@keyframes animatedBtn-4-border {
  0% {
    transform: skew(-45deg, -45deg);
  }

  25% {
    transform: skew(10deg, 10deg);
  }

  50% {
    transform: skew(-10deg, -10deg);
  }

  75% {
    transform: skew(5deg, 5deg);
  }

  100% {
    transform: skew(0deg, 0deg);
  }
}
