*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 62.5% on 10px */
}

body {
  // margin: max(3ch, 3rem);
  margin: 0 auto;
  max-width: 1700px;
  font-family: "Mulish";
  font-size: 1.7rem;
}
