*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 62.5% on 10px */
}

body {
  // margin: max(3ch, 3rem);
  margin: 0 auto;
  max-width: 1700px;
  font-family: "Mulish";
  font-size: 1.7rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  scale: 0.9;
  transform: translateX(-100%);
  transition: all 1s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  scale: 1;
  transform: translateX(0);
  transition: all 1s ease-out;
}

@media (preferes-reduced-motion) {
  .hidden .hidden-btn-1 {
    transition: none;
  }
}
