.product-page-picture {
  display: block;
  width: 912px;
  border-radius: 2px;
  box-shadow: 0 0.5rem 2rem rgba($color-dark, 0.4);
  align-self: center;
  margin-bottom: 5rem;
  @include respond(tab-land) {
    width: 80%;
  }
}

.product-page-hero {
  position: relative;
  background-color: $color-primary;
  max-width: $max-width;
  margin-inline: auto;
  padding-top: 4rem;
}

.product-page-text-box {
  text-align: center;
  width: clamp(20ch, 80%, 80ch);
  margin: 0 auto;
  padding: 0 0 15%;
  & > * {
    margin: 2rem 0;
  }

  & p {
    line-height: 3rem;
  }
}

// product-page-5-layout

.main-section-product-page {
  width: $max-width;
  margin-inline: auto;
  position: relative;
}

.product-page-row-wrapper {
  display: flex;
  max-width: 80%;
  margin: 10rem auto;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-wrap: wrap-reverse;
    margin: 0 auto;
  }

  @include respond(phone) {
    max-width: 100%;
  }
}

.col-left {
  position: relative;
  width: clamp(30ch, 30%, 80ch);
  margin: auto 0;

  @include respond(tab-port) {
    margin: 0 auto;
    text-align: center;
  }
}

.col-right {
  position: relative;
  width: clamp(30ch, 90%, 50ch);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 45rem;

  @include respond(tab-port) {
    margin: 5rem auto;
    justify-content: center;
    min-height: 25rem;
  }

  @include respond(phone) {
    min-height: 10rem;
  }
}

.product-page-flyer {
  width: 400px;
  border-radius: 2px;
  transition: all 1s ease;

  @include respond(tab-port) {
    &:hover {
      z-index: 3;
      box-shadow: 1px 1px 3px 0 hsl(0, 0%, 50%), 1px 1px 3px 0 hsl(0, 0%, 90%);
    }
  }
  @include respond(phone) {
    width: 100%;
  }
}

.flyer-large {
  z-index: 10;
  // display: block;
  display: none;
  position: absolute;
  width: 600px;
  border-radius: 2px;
  bottom: 0;
  right: 0;
  animation: fadein 0.3s ease-in-out 1;
}

.product-page-flyer:hover + .flyer-large {
  display: block;

  @include respond(tab-port) {
    display: none;
  }
}

.flyer-large:hover {
  display: block;
  box-shadow: 1px 1px 3px 0 hsl(0, 0%, 50%), 1px 1px 3px 0 hsl(0, 0%, 90%);
}

.hover-swap {
  width: fit-content;
}

.carbuy-logo {
  border-radius: 100%;
  width: 274px;

  @include respond(tab-port) {
    width: 70%;
  }
}

.img-top {
  border: solid 1px $color-text-light;
  position: absolute;
  opacity: 0;
  transition: all 1s ease;

  @include respond(tab-port) {
    width: 70%;
  }
}

.hover-swap:hover .img-top {
  opacity: 1;
}

.product-page-business {
  position: absolute;
  left: 5%;
  bottom: -10%;
  z-index: 1;

  @include respond(tab-port) {
    left: 50%;
    transform: translate(-50%);
  }
}

.business-card-img {
  width: 300px;
  height: 175px;
}

.product-page-logo {
  border-radius: 100%;
  width: 274px;
}
